* {
    background-color: darkgreen;
    color: antiquewhite;
}
body{border: 6px black solid;}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
    display: inline-block;
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown:hover .dropdown-content{
    display: block;

}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
    
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}											/*end of nav/dropdown */





.blog-post{border: 1px black solid}
.blog-post-title {border: 1px black solid}


.wrapper{
	
	/* box-sizing: border-box;
	list-style: none;
	text-decoration: none; */
	display:flex;
	position: relative;
	/* background-color: black; */
	/* border: 2px black solid; */	
}
.wrapper .sidebar{ position: fixed;
	width: 250px;
	height: 150px;
	background:gold;
	padding: 45px;
	/* border-top: 2px black solid;
	border-bottom: 2px black solid; */
	}




 .wrapper .sidebar h2{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;


}
.wrapper .sidebar ul li{
	font-size: 14pt;
	padding: 40px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	height: 30px;
	width: 30px;
	/* border-right-width: 2px black solid;
	border-left-width: 2px black solid; */
	text-align: center;
	
	

}
.container{ display: flex;
position: relative;
float: right;
margin: auto auto auto auto;}


.txt{ width: 100%;
height: 100%;
white-space: pre-line;
margin: auto;


}


.about{ font-size: 30pt;
/* border: 2px black solid; */
color: rgb(235, 197, 197);
text-align: center;}


  .flex-box {
	display: flex;
	float: top;
	justify-content: right;
	position: relative	;
	font-size: 20pt;
	color: black;
	width: 350px;
	border-top: 300px;
	margin: auto auto;

	
  }
  /* .flex-box h1{ 
	display: flex;
	position: relative;
	float: right;
	border-left-width: 50px;
	font-size: 44pt;
	text-align: center;
	margin: auto auto;
  }
  
 */







  div.at-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  }
  .at-item {
	color: #c7cdd6;
	animation-name: focus-in-expand-top;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	margin: auto 50%;
  }
  @keyframes focus-in-expand-top {
	0%{
	  letter-spacing: -.5em;
	  -webkit-transform: translateY(-300px);
	  transform: translateY(-300px);
	  filter: blur(12px);
	  opacity: 0;
	}
	100%{
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	  filter: blur(0);
	  opacity: 1;
	}
  }
  
  