* {
    background-color: darkgreen;
    color: antiquewhite;
}
body{border: 6px black solid;}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
    display: inline-block;
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown:hover .dropdown-content{
    display: block;

}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
    
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}											/*end of nav/dropdown */
.heading{
	text-align: center;
}
.heading h1{
	font-size: 4em;
}
.heading p{
	font-size: 2em;
}
.chatbox{							/*group chat stuff*/
	border: 5px solid black;
	padding: 3vw;
	width: 80vw;
	height: 80vh;
	margin: 5vh auto 5vh auto;
	box-shadow: 3px black;
}
.chatlog{
	padding: 1vh;
	width: 100%;
	height: 80%;
	overflow: hidden scroll;
}
.too-message, .from-message{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 10px;
}
.profile-pic{
	width: 60px;
	height: 60px;
	background-color:red;
	border-radius: 50%;
	overflow: hidden;
}
.profile-pic img{
	width: 100%;
}
.too-message .message-text{
	width: 100%;
	padding: 10px;
	margin: 5px 10px 0;
	background-color: cyan;
	border-radius: 10px;
	color: black;
	font-size: 1.5em;
}
.from-message .message-text{
	width: 80%;
	padding: 10px;
	margin: 5px 10px 0;
	background-color: lawngreen;
	border-radius: 10px;
	color: black;
	font-size: 1.5em;
	order: -1;
}
form{
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: flex;
	align-items: flex-start;
}
form textarea{
	color: black;
	font-size: 1.5em;
	background-color: #fbfbfb;
	width: 70%;
	height: 5vh;
	border: 2px solid black;
	border-radius: 5px;
	resize: none;
	padding: 1vh;
}
.send-button{
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.send-button:hover{
	background-color: antiquewhite;
	color: black;
}