

* {
    background-color: darkgreen;
    color: antiquewhite;
}
body{
	border: 6px black solid;
	min-height: 95vh;
}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
    display: inline-block;
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown:hover .dropdown-content{
    display: block;

}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
    
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}											/*end of nav/dropdown */
.heading{
text-align: center;
 color: black;
 font-family: 'Courier New', Courier, monospace;
  font-size: 36pt;
}
.login{
	color: antiquewhite;
}
form{
	margin: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
input{
	max-width: 40vw;
	height: 5vh;
	font-size: 1.5em;
}
.login-button {
	padding: 2vh 15vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1.2em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	margin: 1vh 2vw 1vh 1vw;
}
.signup-button {
	padding: 2vh 15vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1.2em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	margin: 1vh 2vw 1vh 1vw;
}
.signup-button:hover {
	background-color: antiquewhite;
	color: black;
}
.login-button:hover {
	background-color: antiquewhite;
	color: black;
}
.box-1{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box-2{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}


