* {
    background-color: darkgreen;
    color: antiquewhite;
}
body{border: 6px black solid;}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
    display: inline-block;
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown:hover .dropdown-content{
    display: block;

}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
    
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}											/*end of nav/dropdown */
.heading{
	text-align: center;
}
.heading h1{
	font-size: 4em;
}
.heading p{
	font-size: 2em;
}
.flex-container{
	margin: 5vh 10vw 5vh 10vw;
	border: 5px solid black;
	width: 75vw;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	overflow-x: scroll;
}
.card-ex{
		border: 1px solid black;
		align-content: flex-start;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		justify-content: space-between;
		align-items: center;
}
.card-ex *{
	color: aqua;
}
.card{
	border: 1px solid black;
	align-content: flex-start;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	justify-content: space-between;
	align-items: center;
}
.rank{
	display: inline;
	font-size: 1.5em;
	color: aqua;
}
.name{
	display: inline;
	font-size: 2em;
}
.points{
	display: inline;
	font-size: 1.5em;
	color: aqua;
}
.card img{
	height: 60px;
	width: 60px;
	display: inline;
	align-self: center;
	background-color: aqua;
	border-radius: 50%;
	overflow: hidden;
}
.profile{
	display: flex;
}
