* {
    background-color: darkgreen;
    color: antiquewhite;
}
body{border: 6px black solid;}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
    display: inline-block;
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown:hover .dropdown-content{
    display: block;

}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
    
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}											/*end of nav/dropdown */

.grid-container{ display:grid; 
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr 1fr 1fr ;
	position: relative;
	gap: 1%;
	/* top: 20%; */
	left:center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;


}

.grid-container img{width: 100%;}
.info{ font-size: 30pt;
	color: black;
	text-align: center;
	border: 2px black solid	;
	}
	.grid-container .aboutp{width: 100%;}

.abouts{ font-size: 38;
color: black;
text-align: center;
text-emphasis: bold;}



button{ font-size: 20pt;
align-items: center;
border-radius: 5px black solid;
}
.aboutb{ font-size: 30pt;
color: white;
border: 6px white dotted;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}

