* {
    background-color: darkgreen;
    color: antiquewhite;
}
body{border: 6px black solid;}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
    display: inline-block;
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown:hover .dropdown-content{
    display: block;

}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
    
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}											/*end of nav/dropdown */
.friend-list{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.friend-list h1{
	font-size: 3em;
}
.friend-card{
	padding: 5vh 2vw 5vh 2vw;
	background-color: grey;
	display: flex;
	flex-direction: column;
}
.friend-card *{
	background-color: grey;
}
.online-friends{
	display: flex;
}
.online-friends a{
	text-decoration: none;
	color: aqua;
	font-size: 1.5em;
	background-color: grey;
	padding: 1vh;
}
.online-friends a:hover{
	color: black;
}
.offline-friends{
	display: flex;
	flex-direction: column;
}
.offline-friends a{
	text-decoration: none;
	color: aqua;
	font-size: 1.5em;
	background-color: grey;
	padding: 1vh;
}
.offline-friends a:hover{
	color: black;
}