* {
    background-color: darkgreen;
    color: antiquewhite;
}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1.2em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1.2em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}
