* {
    background-color: darkgreen;
    color: antiquewhite;
}
body{border: 6px black solid;}
.nav-box {                                            /* Nav */
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.nav-button {
    display: inline-block;
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.nav-button:hover {
	background-color: antiquewhite;
	color: black;
}                                                    /* dropdown stuff */
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown:hover .dropdown-content{
    display: block;

}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    min-width: 200px;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: antiquewhite;
    
}
.dropdown-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
    margin: 1vh 2vw 1vh 1vw;
}
.dropdown-button:hover {
	background-color: antiquewhite;
	color: black;
}											/*end of nav/dropdown */

.btn{ cursor: pointer;
display: inline-block;
border: 0;
font-weight: bold;
padding: 10px 20px;
background-color: black;
font: white;
font-size: 15px;}


.btn:hover{opacity: 0.8;}

.start{
	width: 100%;
	height: 600px;
	background: url(https://images.pexels.com/photos/5970803/pexels-photo-5970803.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center/cover; 
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	margin-bottom: 20px;
	 
}
.h2{margin-bottom: 10px;}
.p{ margin-bottom: 10px;}
.card1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}
.card1 img{
	width: 100%;
}
.card1 :hover{ color: white;
border: 4px black solid;}
.card1 a{ text-transform: uppercase;}
.heading{ text-align: center;
padding-top: 30px;
padding-bottom: 30px;}

.p { text-align: center;
font-size: 24pt;
}
.vc{ font-size: 30pt;
	color: black;
	text-align: center;
	border: 2px black solid ;
	margin-top: 60px;
}
.pvc{ text-align: center;
font-size: 24pt;}